body {
    color: white;
    font-family: Aller;
}
body a{
    color: #000;
}
body a:hover, body a:focus{
    text-decoration: none;
}
#header{
    padding: 10px;
}
#contacts{
    padding: 20px 10px 10px  10px;
    font-weight: bolder;
}
#contacts1{
    border-right: solid 1px #CFCCCC;    
    color: #F26906;
}
#contacts1:last-child{
    border: none;
    margin-left: 30px;
} 


